/* Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Kode Mono');
@import url('https://fonts.googleapis.com/css?family=ADLaM Display');

/*korean*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* COMMON */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

* {
	font-family: 'ADLaM Display', sans-serif;
	font-weight: bold;
	font-size: 1rem;
}

/* NAVIGATION */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 6rem;
	background-color: #ffffff;
	/* Optional: background color */
	z-index: 2000;
	/* Ensure it stays on top */
	transition: box-shadow 0.3s ease;
	/* 그림자 효과 부드럽게 */
	padding-top: 10px;
}

header.scrolled {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	/* 그림자 추가 */
}

main {
	margin-top: 5rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 0 2rem;
}

a {
	text-decoration-line: none;
}

h1 {
	text-align: center;
	font-size: 2rem;
}

/* header */
header ul li a	{
	color: black;
	margin-right: 2rem;
	font-size: 1.2rem;
}

header ul li a:hover {
	font-size: 1.4rem;
	transition: all .3s ease-in-out;
}

header ul li a.active {
	border: none;
	border-radius: 5px;
	background-color: #cdb8f1;
	color: white;
	padding: 6px;
}

/*===========================FOOTER===========================*/
footer {
	position: relative;
	display: flex;
	width: 100%;
	height: 200px;
	background-color: #000;
	bottom: 0;
}

footer section {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	gap: 18px;
	padding-bottom: 50px;
	color: white;
	background-color: #000;
}

footer ul {
	display: flex;
	width: 100%;
	gap: 2rem;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.socials {
	gap: 20px;
}

.socials li {
	width: 7.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.socials li {
	transition: all 0.5s;
	margin-top: 15px;
}

.socials li:hover {
	margin-top: -8px;
}

.socials li a {
	color: gray;
}

.socials li p {
	font-size: 0.7rem;
}

.socials li a>img {
	width: 16px;
	filter: invert(100%);
}

.links {
	transform: scale(1);
	cursor: pointer;
	transition: all 0.5s;
}

.links li a {
	font-size: 1rem;
	color: gray;
}

.links li:hover,
.links li a:hover{
	transform: scale(1.3);
	color: white;
	transition: all 0.5s ease;
}

.legal {
	text-align: center;
	font-size: 12px;
	margin: 0;
}