/* Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Kode Mono');
@import url('https://fonts.googleapis.com/css?family=ADLaM Display');

/*korean*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* COMMON */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

* {
	font-family: 'ADLaM Display', sans-serif;
	font-weight: bold;
	font-size: 1rem;
}

/* NAVIGATION */
header {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 6vw;
	background-color: #ffffff;
	z-index: 2000;
	transition: box-shadow 0.3s ease;
	padding-top: 10px;
}

header.scrolled {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	/* 그림자 추가 */
}

main {
	margin-top: 5rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 0 2rem;
}

a {
	text-decoration-line: none;
}

h1 {
	text-align: center;
	font-size: 2rem;
}

/*=================nav=================*/

.nav-left {
	flex: 1;
}

.nav-left .logo {
	height: 80px;
	object-fit: contain;
	filter: drop-shadow(0 0 1px black);
}

.nav-center {
	flex: 2;
	display: flex;
	justify-content: center;
	gap: 4rem;
}

.nav-center a {
	color: black;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 700;
	font-style: normal;
	transition: color 0.3s ease;
}

.nav-center a:hover {
	color: #c4baf4;
}

.nav-right {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 0.8rem;
	justify-content: flex-end;
}

.nav-right img {
	width: 30px;
	height: 30px;
	object-fit: contain;
	border-radius: 50%;
	filter: drop-shadow(0 0 2px black);
}

.nav-right .user {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3rem;
	margin-right: 2rem;
}

#btn-login,
#btn-logout {
	position: relative;
	width: 6rem;
	height: 2rem;
	background-color: #cdb8f1;
	border-radius: 2rem;

	font-family: 'ADLaM Display', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color: black;

	cursor: pointer;
}


#btn-login:hover ,
#btn-logout:hover {
	color: white;
	background-color: #a475fc;
	transform: scale(1.1);

	transition: all 0.5s ease-in-out;
}

/* 레이블 스타일 */
label {
	font-family: 'ADLaM Display';
	font-weight: 700;
	text-transform: uppercase;
}

/* 네비게이션 바와 본문 영역 사이 영역 */
.nav-separator {
	height: 3px;
	background-color: rgb(148, 83, 148);
	min-width: 100%;
	position: absolute;
	z-index: 10;
}

/* AdminUser */
.admin_sec>a {
	display:flex;
	flex-direction: column;
}
.admin_sec>a img {
	margin: 0 auto;
}

/*===========================FOOTER===========================*/
footer ul {
	display: flex;
	width: 100%;
	gap: 2rem;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.socials {
	gap: 20px;
}

.socials li {
	width: 7.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.socials li {
	transition: all 0.5s;
	margin-top: 15px;
}

.socials li:hover {
	margin-top: -8px;
}

.socials li a {
	color: gray;
}

.socials li p {
	font-size: 0.7rem;
}

.socials li a>img {
	width: 16px;
	filter: invert(100%);
}

.links {
	transform: scale(1);
	cursor: pointer;
	transition: all 0.5s;
}

.links li a {
	font-size: 1rem;
	color: gray;
}

.links li:hover,
.links li a:hover{
	transform: scale(1.3);
	color: white;
	transition: all 0.5s ease;
}

.legal {
	text-align: center;
	font-size: 12px;
	margin: 0;
}

footer {
	position: relative;
	display: flex;
	width: 100%;
	height: 200px;
	background-color: #000;
}

footer section {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	gap: 18px;
	padding-bottom: 50px;
	color: white;
	background-color: #000;
}

/*===========================ScrollBar===========================*/

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
	width: 10px;  
}

.scrollbar::-webkit-scrollbar-thumb {
	background: #d46aff; /* 스크롤바 색상 */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
	background: #f7dbff;  /*스크롤바 뒷 배경 색상*/
}