/* 사이드바 스타일 */
.sidebar {
	width: 200px; /* 사이드바 너비 설정 */
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1); /* 파란색 그림자 추가 */
	padding: 1rem;
	position: fixed; /* 사이드바가 스크롤 시 항상 고정되도록 */
	top: 5rem; /* 네비게이션 바 높이 만큼의 여백 추가 */
	height: calc(100vh - 5rem); /* 사이드바 높이 설정 (브라우저 높이 - 네비게이션 바 높이) */
	overflow-y: auto; /* 내용이 넘칠 때 스크롤 추가 */
}

/* 검색창 스타일 */
.search-container {
	margin-bottom: 1rem;
}

#search-bar {
	width: calc(100% - 5px); /* 좌우 여백 추가 */
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
	box-sizing: border-box; /* 패딩과 테두리를 포함하여 너비 조정 */
}

/* 필터 섹션 */
.filter-section,
.types-filter,
.kind-filter {
	margin-bottom: 1.5rem;
}

#filter-form h3,
.apply-button-container button span{
	font-family: 'ADLaM Display';
}

h3 {
	font-family: "Poiret One", sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	color: black;
}

.filter-option {
	margin-bottom: 0.5rem;
}

input[type="radio"] {
	margin-top: 0.15rem;
	width: 14px;
	height: 14px;
	appearance: none;
	border: 2px solid #ccc;
  border-radius: 50%;
	outline: none;
	cursor: pointer;
}

input[type="radio"]:checked {
	background-color: #babbf6;
	border: 3px solid white;
	box-shadow: 0 0 0 1.6px #babbf6;
}

/* 적용 버튼 */
.apply-button-container {
	text-align: center;
}

#apply-filters {
	width: 100%;
	padding: 0.5rem;
	background-color: #cdb8f1;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Silkscreen", sans-serif;
	font-size: 1rem;
}

#apply-filters:hover {
	background-color: #babbf6;
}

/* 앨범 그리드 */
.content {
	margin-left: 233px; /* 사이드바 너비 만큼 여백 추가 */
	padding: 1rem;
	overflow-x: hidden
}

.content .main-img {
	width: 100%;
	height: 300px;
	display: flex;
	flex-grow: 1;
	gap: 10px;
	justify-content: center;
	margin-block: 2rem;
	padding-block: 1rem;
}

.content .main-img iframe {
	border-radius: 2rem;
}

.album-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); /* 반응형 그리드 */
	grid-template-rows: repeat(auto-fit, minmax(280px, 1fr)); /* 반응형 그리드 */
	gap: 1rem; /* 앨범 사이 간격 */
	width: 1200px; /* 앨범 영역 가로 길이 */
	margin: 0 auto; /* 중앙 정렬 */
}

.song-item {
	border-radius: 5px;
	display: flex;
	height: 19rem;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	text-align: center;
	background-color: #ffffff; /* 배경색 추가 */
	position: relative; /* 필수: 절대 위치 요소를 배치하기 위함 */
	overflow: hidden; /* 블러 효과가 컨테이너 밖으로 나가지 않게 함 */
	cursor: pointer; /* 클릭 가능하게 설정 */
}

.song-item a .song-disk {
	position: absolute;
	left: 2.8rem; /* 원하는 위치 */
	top: -3rem;
	opacity: 0; /* 기본적으로 보이지 않음 */
	z-index: 2; /* 다른 요소 위에 위치 */
	transform: scale(0.9);
	transform-origin: 50.4% 59.6%;; /* 회전 중심을 중앙으로 설정 */
}

/* 블러 오버레이 스타일 */
.song-item a .song-thumb-overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0;
	width: 200px;
	height: 250px;
	object-fit: cover;
	z-index: 3;
	opacity: 0;
}

.song-item:hover .song-thumb {
	filter: blur(2rem);
	transition: all 0.5s ease-in-out;
}

.song-item:hover .song-thumb-overlay {
	opacity: 1;
	object-fit: contain;
	transform: scale(0.8);
	transition: all 0.5s ease-in-out;
}

.song-item:hover a .song-disk {
	opacity: 1; 
	transform: scale(0.9) translateY(-3rem); 
	transition: all .5s ease-in-out;
	animation: rotateDisk 2s linear infinite; 
}

@keyframes rotateDisk {
	from {
			transform: scale(0.9) rotate(0deg); 
	}
	to {
			transform: scale(0.9) rotate(360deg); 
	}
}

/* 이미지 스타일 */
.song-item img {
	border-radius: 2rem;
	width: 200px; /* 앨범 이미지 가로 크기 */
	height: 200px; /* 앨범 이미지 세로 크기 */
	object-fit: cover;
	margin-bottom: 0.5rem; /* 이미지와 텍스트 사이 간격 */
	padding-top: 2rem;
}

.song-name {
	font-family: "Jua", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.song-date {
	font-family: 'ADLaM Display', sans-serif;
	font-weight: bold;
	font-size: 0.9rem;
}

/* No Results */
.no-results {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 300px; /* 원하는 높이 설정 */
	text-align: center;
}

.no-results img.no-results-image {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin-bottom: 1rem;
}

.no-results p {
	font-family: "Kode Mono", monospace;
	font-size: 1.2rem;
	color: #555;
}

/* 반응형 디자인: 브라우저 너비가 800px 이하일 때 */
@media (max-width: 1500px) {
	.album-grid{
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* 더 작은 너비의 그리드 아이템 */
	}
}

/* 반응형 디자인: 브라우저 너비가 500px 이하일 때 */
@media (max-width: 500px) {
	.album-grid{
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* 더 작은 너비의 그리드 아이템 */
	}

	.song-item img {
			width: 100px; /* 더 작은 이미지 크기 */
			height: 100px;
	}

	.song-name {
			font-size: 0.9rem; /* 더 작은 텍스트 크기 */
	}
}
/* 페이지네이션 스타일 */
.pagination {
	margin: 2rem 0;
	text-align: center;
}

.pagination a {
	font-family: 'ADLaM Display';
	font-weight: bold;
	display: inline-block;
	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
	border-radius: 5px;
}

.pagination a:hover {
	background-color: #cdb8f1;
	color: white;
}

.pagination .active {
	background-color: #cdb8f1;
	color: white;
	pointer-events: none;
}

.albums-content .main-img {
	width: 100%;
	height: 300px;
	display: flex;
	flex-grow: 1;
	gap: 10px;
	justify-content: center;
	margin-block: 30px;
}

.albums-content .main-img iframe {
	border-radius: 2rem;
}